html, body {   /* обнуление для html body уже есть в файле reset.css */
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;
    background: white no-repeat fixed center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.header{
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 34pt;
    color: white;
    text-align: right;
    text-decoration: none;
    padding-left:62px;

}
.logo__text:hover{
    color: black;
}
.logo__image{
    background-image: url("../img/HEADER/Logo/logos@1X.png");
    height: 56px;
    width: 64px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo__image:hover{
    background-image: url("../img/HEADER/Logo/logos.svg");
}
/*стили для блока меню*/
.menu{
    /*width: 28%;*/
    display: flex;
    justify-content: space-between;
}
.menu__item{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: white;
    text-align: left;
    text-decoration: none;
    margin-right: 10px;
}
.menu__item:hover{
    color: #c0ac94;
}
.icons{
    display: flex;
}
.icon__bucket{
    display: block;
    width: 18px;
    height: 24px;
    background-image: url("../img/HEADER/Cart/icon-cart@1X.png");
    margin-left: 30px;
    margin-right: 30px;
}
.icon__bucket:hover{
    background-image: url("../img/HEADER/Cart/icon-cart.svg");
}
.icon__search{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/HEADER/Search/icon-search@1X.png");
}
.icon__search:hover{
    background-image: url("../img/HEADER/Search/icon-search.svg");
}

/*стили для блока слайдера*/
.page1{
    height: auto;
    background: white url("../img/SLIDER/Photo/photo@1X.png") no-repeat scroll center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    
 }
.slider{
    width: 100%;
    height: 100vh;
    /*position: relative;*/
    margin: auto;
    /*height: auto;*/
    /*margin-bottom: 15px;*/
    background-size: cover;
    background: rgba(0, 0, 0, 0.7) no-repeat top;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* color: white;
    font-weight: bold;
    font-size: 18px; */
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Фон кнопок вперед и назад при наведении */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* блок который является слайдом и в него вставляется контент */
.slideText {
    /* position: absolute;*/
    /*color: #fff;*/
    /*font-size: 35px;*/
    /*!* Выравнивание текста горизонтально и по вертикально*!*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*!* Тень текста*!*/
    /*text-shadow: 1px 1px 1px #000, 0 0 1em #000; */
}
/* Кружочки под слайдами */
.slider-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:45%;
    bottom:3%;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #8c8d8f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    /*background-color: #fff;*/
    cursor: pointer;
    background: #fff;
    border: 2px solid #717171;
    margin: 0 2px;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

a {
    text-decoration: none;
    color: white;
}
.main {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    padding-top: 100px;
}
.main__content_second-header{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    
}
.main__content{
    width: 850px;
}
.main__content_first-header{
    font-family: 'Raleway', sans-serif;
    font-size: 52pt;
    font-weight: 800;
    color: rgba(255, 255, 255, 255);
    text-align: center;

}
.main__content_text{
    font-family: "Raleway", sans-serif;
    font-size: 16pt;
    font-weight: 600;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-bottom: 52px;
}
.main__button_get-started{
    height: 53px;
    width: 170px;
    border: none;
    background-color: rgba(153,134,117,1);
    font-family: '﻿Raleway', sans-serif;
    font-weight: 800;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-radius: 5px;
}
.main__button_get-started:hover{
    background-color: black;
}
/*Page 2 */
.page2{

}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
}
.text__h2{
    font-family:'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30pt;
    color: rgba(85, 85, 85, 255);
    text-align: center;
    padding-bottom: 24px;
}
.text__p {
    font-family:﻿'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: rgba(140, 140, 140, 255);
    text-align: center;
    width: 40vw;
}
.images{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.images__relative{
    padding-top:82px;
    margin-right: 17.7%;
    margin-left: 17.7%;
    display: flex;
    flex-wrap: nowrap;
}
.images__absolute{
    position: absolute;
    padding-bottom:1px;
}
.footer{
    width: auto;
    height: 150px;
    background: linear-gradient(to right,#211b19,#4e3327);
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__text_h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28pt;
    color: #ffffff;
    text-align: left;
}
.footer__text_h2-logo{
    color: #c7b299;
}
.footer__text>p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    color: rgba(97, 88, 85, 255);
    text-align: left;
}
.footer__button_purchase-now{
    width: 170px;
    height: 50px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;;
    font-weight: 800;
    font-size: 14pt;
    text-align: center;
    border: none;
}
/*Page 3*/

.video-content{
    width: auto;
    height: 708px;
    background: rgba(0, 0, 0, 0.7) no-repeat top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3{
    width: auto;
    height: 708px;
    background: url("../img/Page3/photo@1X.png") no-repeat scroll center;
    background-size: cover;

}
.video-content__button{
    width: 100px;
    height: 100px;
    background-image: url("../img/Page3/circle@1X.png");
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.video-content__text>h2{
    font-family: 'Raleway', sans-serif;;
    font-weight:800;
    font-size: 30pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 44px;
}
.video-content__text>p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 30px;
}
.video-content__text>h3{
    font-family: ﻿'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14pt;
    color: rgba(199, 178, 153, 255);
    text-align: center;
    padding-top: 40px;
}

/*Page 4*/
.page4 {
    height: 750px;
    width: auto;
    position:relative;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts__header{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30pt;
    color: rgba(85, 85, 85, 255);
    text-align: center;
    margin-top: 82px;
    margin-bottom:30px;
}
.posts__description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: rgba(140, 140, 140, 255);
    text-align: center;
    margin-bottom:38px;
}
.posts__samples{
    display: flex;
    align-items: center;
}
.posts__samples-sample{
    height:auto;
    width:370px;
    margin-right:30px;
}
.posts__samples-sample-text{
    padding-left: 30px;
}
.posts__samples-sample-text>h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20pt;
    color: rgba(85, 85, 85, 255);
    text-align: left;
    padding-top: 29px;
}
.posts__samples-sample-text>p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: rgba(140, 140, 140, 255);
    text-align: left;
    padding-top: 19px;
}
.posts__samples-sample-arrow{
    padding-top: 27px;
    display:flex;
}
.posts__samples-sample-arrow a{
    padding-right:9px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: rgba(199, 178, 153, 255);
    text-align: left;
}
.posts__samples-sample-image-data{
    height:55px;
    width:50px;
    position:absolute;
    top: 22px;
    left: 22px;
}
.posts__samples-sample-image-data-day{
    background-color: #363636;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24pt;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.posts__samples-sample-image-data-month{
    background-color: #252525;
    font-family: ﻿'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.posts__samples-sample-image{
    position: relative;
}
.posts__samples-sample1-image-slides{
    position: absolute;
    background: black;
    top: 90%;
    left: 45%;
}
.posts__arrows{
    display: flex;
    justify-content:center;
    padding-top:40px;
    padding-bottom:80px;
}
.slideOn{
    background-color: #362f2d;

}



